*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(207, 207, 22);
}
.inbox{
    width: 250px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: row;
    line-height: 35px;
}
input{
    margin-right: 15px;
    padding: 2px;
}
p{
    border-left: 1px solid rgb(197, 189, 189);
    padding-left: 15px;
}
.strike{
    text-decoration: line-through;
}